[Unit]
Description=Varnish for CVMFS Monitoring
After=cvmfs-varnish.service

[Service]
Type=simple
ExecStart=/usr/local/bin/cvmfs-varnish-monitor.sh
NotifyAccess=all
EnvironmentFile=-/etc/sysconfig/cvmfs-varnish

[Install]
WantedBy=multi-user.target
